* {
	margin:0;
	padding:0;
}

html {
	height:100%;
}

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.46429;
    color: #888888;
    height:100%;
}

h1, h2, h3, h4 {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

h4.success {
	color:#dc2565;
	font-weight:700;
}

button {
	border-radius:5px;
	padding:8px 25px;
	font-weight:bold;
	outline:none;
	border:none;
	color:#FFF;
	cursor:pointer;
	transition: all ease 0.3s;
}

button:active {
	transform:scale(0.95);
}

a.button {
	display:inline-block;
	border-radius:5px;
	padding:8px 25px;
	font-weight:bold;
	outline:none;
	border:none;
	color:#FFF;
	cursor:pointer;
	transition: all ease 0.3s;
}

a.button:hover {
	text-decoration:none;
}

a.button:active {
	transform:scale(0.95);
}

button.action {
	background:#dc2565;
}

a.button.back {
	background:#d3d3d3;
	color:#dc2565;
}

.dismiss {
	position:absolute;
	top:10px;
	right:10px;
	color:red;
	font-size:1.5em;
}

.object-non-visible {
	opacity:0;
}

.object-visible, .touch .object-non-visible {
	opacity:1;
}

.hidden {
	display:none;
}

.toggleUp * {
	display:none;
	height:0 !important;
	transition:all ease 0.3s;
	position:relative;
}

.toggleDown {
	min-height:calc(100vh - 60px) !important;
	height:auto !important;
	transition:all ease 0.3s;
	position:relative;
}

#preload {
	display:none;
}

header {
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	background:#2f3e53;
	height:60px;
	padding:0 15px;
	line-height:60px;
	z-index: 9999;
}

header .logo {
	vertical-align:middle;
}

#content {
	height:calc(100vh - 60px);
	padding-top:60px;
}

/* ============== */

#intro {
	overflow: auto;
	background:url(../img/historia_bg.jpg) no-repeat center;
	background-size:cover;
	display:block;
	position:relative;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color:#FFF;
	text-align:center;
}

.title .icon {
	width:70px;
	height:70px;
	border-radius:50%;
	vertical-align:middle;
	display:inline-block;
	background:#FFF;
	font-size: 2.5em;
	color:#dc2565;
	text-align:center;
	line-height:70px;
	margin-left:10px;
	position:relative;
	z-index:3;
	transition:all ease 1s;
}

.title .icon:before {
	content:'';
	position:absolute;
	width:90px;
	height:90px;
	border-radius:50%;
	background:#FFF;
	display:block;
	top:-10px;
	left:-10px;
	opacity:0.3;
	z-index:-1;
}


.title h1 {
	font-weight: 300;
	margin-bottom:30px;
}

.title button {
	margin-top:40px;
}

/* ============== */

#map {
	background:#dfdfdf;
	display:block;
	position:relative;
}

#map h3 {
	font-weight:700;
	padding-bottom:15px;
	border-bottom: solid 1px #dc2465;
	margin-bottom:10px;
	color:#dc2465;
}

.test_cont {
	font-size:1.1em;
	margin-top:15px;
	margin-bottom:15px;
	background:#FFF;
	border-radius:5px;
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	min-height:calc(100vh - 90px);
	box-sizing:border-box;
	padding:15px;
	position:relative;
}

.test_cont .icon {
	width:35px;
	height:35px;
	border-radius:50%;
	vertical-align:middle;
	display:inline-block;
	background:#dc2565;
	color:#FFF;
	text-align:center;
	line-height:35px;
	margin-left:10px;
	position:absolute;
	top:25px;
	right:45px;
	z-index:3;
}

.test_cont .icon.back {
	left:45px;
	right:0;
	background:#888888;
	transition:all ease 0.3s;
}

.test_cont .icon.back:hover {
	cursor:pointer;
	background:red;
}

.test_cont .icon.back:before {
	opacity:0;
	background:red;
	transition:all ease 0.3s;
}

.test_cont .icon.back:hover:before {
	opacity:0.3;
}

.test_cont .icon:before {
	content:'';
	position:absolute;
	width:45px;
	height:45px;
	border-radius:50%;
	background:#dc2565;
	display:block;
	top:-5px;
	left:-5px;
	opacity:0.3;
	z-index:-1;
}


.test_cont p.content {
	margin-top:20px;
	margin-bottom:40px;
}

.test_cont p.question {
	color:#000;
	font-weight:300;
	text-align:justify !important;
}

.test_cont .answers {
	display:block;
	text-align:left;
	margin-top:20px;
	padding-top:15px;
	border-top:solid 1px #b4b4b4;
}

.answer {
	text-align:left;
	padding:10px 15px;
	border-radius:10px;
	border:solid 1px #b4b4b4;
	display:inline-block;
	font-weight:300;
	color:#000;
	margin-bottom:15px;
	transition:all ease 0.3s;
}

.answer:hover {
	background:#b4b4b4;
	cursor:pointer;
}

.answer.unable:hover {
	cursor:not-allowed;
	background:inherit;
}

.answer.selected {
	background:#82bd00;
	border-color:#82bd00;
	color:#FFF;
}

.answer.selected.unable:hover {
	background:#82bd00;
	border-color:#82bd00;
}

.answer:first-of-type:before {
	content:'A.';
	margin-right:10px;
	font-weight:700;
}

.answer:nth-of-type(2):before {
	content:'B.';
	margin-right:10px;
	font-weight:700;
}

.answer:nth-of-type(3):before {
	content:'C.';
	margin-right:10px;
	font-weight:700;
}

.answer:nth-of-type(4):before {
	content:'D.';
	margin-right:10px;
	font-weight:700;
}

.nextBtn.disabled {
	cursor:not-allowed;
	background:#888888;
	pointer-events:none;
}

/* === PIE CHART === */

.progress-pie-chart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
  display:block;
  margin:0 auto;
  margin-bottom:15px;
}
.progress-pie-chart.gt-50 {
  background-color: #dc2565;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: #2f3e53;
  transform: rotate(60deg);
}
.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #E5E5E5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 173.9130434783px/2);
  top: calc(50% - 173.9130434783px/2);
  width: 173.9130434783px;
  height: 173.9130434783px;
  background: #fff;
  text-align: center;
  display: table;
}
.ppc-percents span {
  display: block;
  font-size: 2.6em;
  color: #dc2565;
}

.ppc-percents span.percent {
  font-weight: bold;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}