* {
	margin:0;
	padding:0;
}

html {
	height:100%;
}

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.46429;
    color: #9a9a9a;
    height:100%;
}

h1, h2, h3, h4 {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

h4.success {
	color:#dc2565;
	font-weight:700;
}

button {
	border-radius:5px;
	padding:8px 25px;
	font-weight:bold;
	outline:none;
	border:none;
	color:#FFF;
	cursor:pointer;
	transition: all ease 0.3s;
}

button:active {
	transform:scale(0.95);
}

a.button {
	display:inline-block;
	border-radius:5px;
	padding:8px 25px;
	font-weight:bold;
	outline:none;
	border:none;
	color:#FFF;
	cursor:pointer;
	transition: all ease 0.3s;
}

a.button:hover {
	text-decoration:none;
}

a.button:active {
	transform:scale(0.95);
}

a.button.action, button.action {
	background:#dc2565;

}

.dismiss {
	position:absolute;
	top:10px;
	right:10px;
	color:red;
	font-size:1.5em;
}

.object-non-visible {
	opacity:0;
}

.object-visible, .touch .object-non-visible {
	opacity:1;
}

.hidden {
	display:none;
}

.toggleUp {
	display:none;
	height:0 !important;
	transition:all ease 0.3s;
	position:relative;
}

.toggleDown {
	height:calc(100vh - 60px) !important;
	transition:all ease 0.3s;
	position:relative;
}

#preload {
	display:none;
}

header {
	background:#2f3e53;
	height:60px;
	padding:0 15px;
	line-height:60px;
}

header .logo {
	vertical-align:middle;
}

#content {
	height:calc(100vh - 60px);
}

/* ============== */

#intro {
	overflow: auto;
	background:url(../img/intro_bg.jpg) no-repeat center;
	background-size:cover;
	display:block;
	position:relative;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color:#FFF;
	text-align:center;
}

.title h1 {
	font-weight: 300;
	margin-bottom:30px;
}

.title button {
	margin-top:40px;
}

/* ============== */

#map {
	background:#dfdfdf;
	display:block;
	position:relative;
}

.map_img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width:40%;
	height:100%;
	background-image:url(../img/map_clean.png);
	background-repeat:no-repeat;
	background-size:100%;
	background-position:center center;
}

.map_img.lit {background-image:url(../img/map_lit.png);}
.map_img.mat {background-image:url(../img/map_mat.png);}
.map_img.quim {background-image:url(../img/map_quim.png);}
.map_img.hist {background-image:url(../img/map_hist.png);}
.map_img.med {background-image:url(../img/map_med.png);}

#map_menu {
	position:absolute;
	top:50px;
	right:60px;
}

#map_menu ul {
	list-style-type:none;
	padding: 0;
	text-align:right;
	font-size:1.2em;
}

#map_menu ul .ultitle {
	display:block;
	color:#2f3e53;
	margin-bottom:15px;
	padding-bottom:10px;
	border-bottom:solid 1px #2f3e53;
}

#map_menu ul li {
	font-weight:700;
	margin-bottom:15px;
}

#map_menu ul li:hover {
	color:#2f3e53;
	cursor:pointer;
}

#map_menu ul li .icon {
	width:35px;
	height:35px;
	border-radius:50%;
	vertical-align:middle;
	display:inline-block;
	background:#787878;
	color:#FFF;
	text-align:center;
	line-height:35px;
	margin-left:10px;
	position:relative;
	z-index:3;
}

#map_menu ul li .icon:before {
	content:'';
	position:absolute;
	width:45px;
	height:45px;
	border-radius:50%;
	background:#787878;
	display:block;
	top:-5px;
	left:-5px;
	opacity:0.3;
	z-index:-1;
}

#map_menu ul li.active .icon {
	width:35px;
	height:35px;
	border-radius:50%;
	vertical-align:middle;
	display:inline-block;
	background:#dc2565;
	color:#FFF;
	text-align:center;
	line-height:35px;
	margin-left:10px;
	position:relative;
	z-index:3;
}

#map_menu ul li.active .icon:before {
	content:'';
	position:absolute;
	width:45px;
	height:45px;
	border-radius:50%;
	background:#dc2565;
	display:block;
	top:-5px;
	left:-5px;
	opacity:0.3;
	z-index:-1;
}

/* === PIE CHART === */

.progress-pie-chart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
  display:block;
  margin:0 auto;
  margin-bottom:15px;
}
.progress-pie-chart.gt-50 {
  background-color: #dc2565;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;
  clip: rect(0, 100px, 200px, 0);
  background: #2f3e53;
  transform: rotate(60deg);
}
.gt-50 .ppc-progress {
  clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 200px, 200px, 100px);
  background: #E5E5E5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 173.9130434783px/2);
  top: calc(50% - 173.9130434783px/2);
  width: 173.9130434783px;
  height: 173.9130434783px;
  background: #fff;
  text-align: center;
  display: table;
}
.ppc-percents span {
  display: block;
  font-size: 2.6em;
  color: #dc2565;
}

.ppc-percents span.percent {
  font-weight: bold;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}